# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Simulation Outputs
spatial_audio_simulator/data/outputs/
spatial_audio_simulator/data/outputs_static/
spatial_audio_simulator/tests/validation/reports/

# OS
.DS_Store
Thumbs.db
